<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @competency_raiting.name %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @competency_raiting.rank %>
</p>

<p>
  <strong>Description:</strong>
  <%= @competency_raiting.description %>
</p>

<p>
  <strong>Competency:</strong>
  <%= @competency_raiting.competency %>
</p>

<%= link_to 'Edit', edit_competency_raiting_path(@competency_raiting) %> |
<%= link_to 'Back', competency_raitings_path %>
