<%= form_with(model: competency, local: true) do |form| %>
  <% if competency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(competency.errors.count, "error") %> prohibited this competency from being saved:</h2>

      <ul>
      <% competency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :competency_name %>
  </div>

  <div class="field">
    <%= form.label :rank %>
    <%= form.number_field :rank, id: :competency_rank %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :competency_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
