<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @competency.name %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @competency.rank %>
</p>

<p>
  <strong>Description:</strong>
  <%= @competency.description %>
</p>

<%= link_to 'Edit', edit_competency_path(@competency) %> |
<%= link_to 'Back', competencies_path %>
