<%= form_with(model: team_role, local: true) do |form| %>
  <% if team_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team_role.errors.count, "error") %> prohibited this team_role from being saved:</h2>

      <ul>
      <% team_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :team_role_name %>
  </div>

  <div class="field">
    <%= form.label :rank %>
    <%= form.text_field :rank, id: :team_role_rank %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :team_role_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
