<p id="notice"><%= notice %></p>

<h1>Team Roles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rank</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_roles.each do |team_role| %>
      <tr>
        <td><%= team_role.name %></td>
        <td><%= team_role.rank %></td>
        <td><%= team_role.description %></td>
        <td><%= link_to 'Show', team_role %></td>
        <td><%= link_to 'Edit', edit_team_role_path(team_role) %></td>
        <td><%= link_to 'Destroy', team_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team Role', new_team_role_path %>
